// Loading Placeholder keyframe animation
@-moz-keyframes loading {
	100% {
		transform: translateX(100%);
	}
}
@-webkit-keyframes loading {
	100% {
		transform: translateX(100%);
	}
}
@-o-keyframes loading {
	100% {
		transform: translateX(100%);
	}
}
@keyframes loading {
	100% {
		transform: translateX(100%);
	}
}

// star animation
@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}

.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */
	transition-duration: 0.5s;
}

.isotope {
	transition-property: height, width;
}

.isotope .isotope-item {
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	transition-duration: 0s;
}