// Breadcrumbs
.bct-wrapper {
	@include clearfix();
	background-color: $transparent-white;
	border-bottom: 2px solid $brand-tertiary;
	color: $gray;
	min-height: 5vh;
	.bct {
		padding: 0;
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin: 0;
				padding: 15px 0 15px 3px;
				font-size: rem(17px);
				text-transform: uppercase;
				&:before {
					content: $bct-divider;
				}
				&:first-child:before {
					content: none;
				}

				a,
				span {
					margin: 0;
					color: $brand-tertiary;
				}

				a { font-weight: 600; }
				
				i {
					color: $brand-tertiary;
				}
			}
		}
	}
}