@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

$icomoon-font-path: "/styles/fonts/YSC-Icons" !default;

@font-face {
  font-family: 'YSC-Icons';
  src:  url('#{$icomoon-font-path}/YSC-Icons.eot?9ub25t');
  src:  url('#{$icomoon-font-path}/YSC-Icons.eot?9ub25t#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/YSC-Icons.ttf?9ub25t') format('truetype'),
    url('#{$icomoon-font-path}/YSC-Icons.woff?9ub25t') format('woff'),
    url('#{$icomoon-font-path}/YSC-Icons.svg?9ub25t#YSC-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
    @extend .btl;
}