$footer-background: $gray-dark !default;
$footer-home-color: $gray-lighter !default;
$footer-color: $gray-lighter !default;
$footer-contact-color: $gray-lighter !default;
$footer-font: $navbar-font-family;
.footer {
	font-size: rem(16px);
	font-family: $footer-font;
	@include clearfix();
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
	@extend %stripe;
	@extend %green;
	@media (max-width: $screen-sm-max) {
		text-align: center;
		img { margin: 0 auto; }
	}

	.address,
	.copy,
	.links {
		p {
			text-align: center;
			margin: 0;
			@media (max-width: $screen-sm-max) {
				margin: 10px 0;
			}
		}
	}
	.copy {
		a {
			color: $footer-home-color;
			&:hover {
				color: $brand-primary;
				text-decoration: underline;
			}
		}
	}
	.links {
		font-family: $headings-font-family;
		padding: rem(5px) 0;
		margin: 0;
		text-align: center;
		li {
			display: inline-block;
			text-align: center;
			padding: 0 rem(5px);
			margin: 0;
			line-height: 1;
			@media (max-width: $screen-sm-max) {
				padding: rem(5px) rem(10px);
			}
			&:first-child {
				padding-left: 0;
				@media (max-width: $screen-sm-max) {
					padding: rem(5px) rem(10px);
				}
			}
			&:last-child {
				padding-right: 0;
				@media (max-width: $screen-sm-max) {
					padding: rem(5px) rem(10px);
				}
			}
			a {
				@extend %btn;
				@extend %btn-default;
			}
		}
	}
}
.footer-top {
	position: relative;
	width: 100%;
	padding: rem(25px) 0;
	background-color: $gray-dark;
	color: $gray-lighter;
	i { font-size: rem(25px); }
	.bt-heart {
		border-radius: 50%;
		color: $red;
	}
}
.footer-bottom {
	position: relative;
	width: 100%;
	padding: rem(25px) 0;
	text-align: center;
	color: $gray;
	font-weight: 600;
	background-color: $gray-lighter;
}
.footer-content {
	position: relative;
	@extend %gradient-section-green;
	@extend %base-pad;
}