$footer-background: $gray-lighter !default;
$footer-home-color: $gray-light !default;
$footer-color: $gray-light !default;
$footer-contact-color: $gray-light !default;
$footer-font: $headings-font-family;
.footer {
	font-family: $footer-font;
	color: $footer-home-color;
	@extend %gradient-section-green;
	@include clearfix();
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (max-width: $screen-sm-max) {
		text-align: center;
		img { margin: 0 auto; }
	}

	.address,
	.copy,
	.links {
		p {
			text-align: center;
			margin: 0;
			@media (max-width: $screen-sm-max) {
				margin: 10px 0;
			}
		}
	}
	.copy {
		a {
			color: $footer-home-color;
			&:hover {
				color: $brand-primary;
				text-decoration: underline;
			}
		}
	}
	.links {
		font-family: $navbar-font-family;
		padding: 55px 0;
		margin: 0;
		text-align: center;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc; 
		li {
			display: inline-block;
			text-align: center;
			padding: 0 30px;
			margin: 0;
			line-height: 1;
			@media (max-width: $screen-sm-max) {
				padding: 5px 10px;
			}
			&:first-child {
				padding-left: 0;
				@media (max-width: $screen-sm-max) {
					padding: 5px 10px;
				}
			}
			&:last-child {
				padding-right: 0;
				@media (max-width: $screen-sm-max) {
					padding: 5px 10px;
				}
			}
			a {
				color: $footer-home-color;
				&:hover {
					color: $brand-primary;
				}
			}
		}
	}
}
.footer-top {
	position: relative;
	padding: rem(25px) 0;
	@extend %gradient-section;
	color: $gray-lighter;
}
.footer-content {
	position: relative;
	padding: rem(50px) 0;
	@extend %col-md-8;
	@include position-column(md,offset,2);
}