.post-date {
	font-family: $font-family-spec;
}
.author {
	@include clearfix();
	max-width: 280px;
	text-align: center;
	margin: rem(15px) 0 0;
	.blog-post & {
		margin: rem(25px) auto;
	}
}
.author-image {
 	@extend %custom-date;
	border: 2px soid $gray-lighter;
	border-radius: 100%;
}

.author-name {
	float: left;
	padding: 15px;
}

.blog-section {
	margin: 0;
	h3 a,
	.date {
		@extend %contrast-dark-text;
	}
	.home & {
		
	}
	.blog-overview & {
		background-color: $gray-dark;
		color: $gray-lightest;
	}
	.blog-post & {
		color: $gray;
		background-color: $gray-lighter;
	}
	.blog-list {
		@include make-row();
	}
	.blog-post-content {
		@extend .sidebar-cont;
		margin: 0 0 rem(25px);
		border-radius: 5px;
		box-shadow: $shadow;
		background-color: $gray-lightest;
		.home &,
		.blog-overview & {
			@include make-col(12);
		}
	}
	.blog-sidebar {
		@extend .sidebar;
		padding: 0 rem(15px);
		@include multi-column(12,3,3,3);
		.section-title {
			color: $gray;
		}
		.sidebar-header {
			text-align: center;
			border-bottom: 2px solid $gray-lighter;
			padding: 0 0 rem(10px);
		}
	}
	.blog-sidebar-inner {
		padding: rem(20px) rem(5px) rem(10px);
		background-color: $gray-lightest;
		box-shadow: $shadow;
		color: $gray;
		border-radius: 5px;
	}
	.blog-post-image {
		position: relative;
		width: 100%;
		max-height: 150px;
		background-color: $brand-tertiary;
		&:hover {
			// background-color: $gray-darker;
		}
	}
	.blog-top {
		@include clearfix(); 
		@extend %contrast-dark-text;
		border-bottom: 2px solid $gray-lighter;
		padding: rem(10px) 0;

		.blog-post & {
			@extend %contrast-light-text;
			border-top: none;
			padding: rem(15px) rem(35px);
		}
	}
	.blog-categories {
		list-style: none;
		margin: 25px 0;
		padding: 0;
		.badge {
			color: $gray;
			padding: 5px 10px;
			// border-radius: 5px;
			// margin-right: 15px;
		}
		li {
			padding: 0;
			// border-bottom: 2px solid $gray-lightest;
			text-transform: uppercase;
			color: $gray-lightest;
			.badge { font-weight: 600; } 
			a {
				display: block;
				padding: 10px 15px;
			}
		}

	}
	.post-title {
		float: left;
		width: 75%;
		padding: rem(10px) rem(15px);
		font-size: rem(18px);
		text-transform: uppercase;
		h3 {
			margin: 0;
		}
		h4 {
			padding: rem(5px) 0;
			margin: 0;
		}
		// padding: 0 0 15px 0;
	}
	.post-categories {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 10px 0;
		width: 100%;
		li {
			display: inline-block;
			margin: 0 5px;
			a {
				@extend %btn;
				font-size: rem(12px);
				border: 2px solid $gray-lighter;
				color: $gray;
				padding: rem(5px) rem(15px);
				margin: 0;
				&:hover {
					padding: rem(5px) rem(15px);
				}
			}
		}
	}
	.blog-post-inner {
		text-align: left;
		padding: rem(25px) rem(35px);
		// background-color: #fff;
		@extend %contrast-dark-text;
		font-family: $font-family-base;
		.blog-post & {
			@extend %contrast-dark-text;
		}
		h3 {
			font-family: $font-family-spec;
			padding: rem(10px) 0;
			border-bottom: 2px solid $brand-secondary;
		}
		P {
			font-size: rem(20px);
		}
	}
	.panel-body {
		// @extend %contrast-dark-text;
	}
}

.blog-pagination {
	margin: rem(15px) 0;
	@include multi-column(12);
	@include breakpoint-down(sm) {
		padding: 0;
	}
	.pagination {
		padding: 0;
		margin: rem(15px) auto;
		color: $gray;
		text-align: center;
		li {
			@extend .inline;
			
			margin: 0;
		}
		a,
		span {
			display: block;
			padding: 5px 15px;
			border-radius: 3px;
			color: $text-color;
			background-color: $gray-lightest;
		}
		a {
			&:hover { color: $gray-lighter; background-color: $brand-secondary; }
		}
		span {
			background-color: $gray;
			color: $gray-lighter;	
		}
		.active a { color: $brand-secondary; }
		@include breakpoint-down(sm) {
			li {
				&.blog-nav-link {
					@include breakpoint-down(sm) {
						display: block;
						width: 100%;
						a {
							width: 100%;
						}
					}
				}
				&.active {
					a {
						background-color: $brand-secondary;
						color: $gray-lighter;
					}
				}
				a {
					width: 50px;
					height: 50px;
					padding: rem(15px);
					margin: rem(3px) 0;
					text-align: center;
					border: 1px solid $gray-light;
					border-radius: 3px;
					transition: all .3s linear;
					&:hover {
						box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.2);
					}
				}
			}
		}
	}
}